<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Tawassolapp</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/assets/homepage/css/base.css">
   <link rel="stylesheet" href="/assets/homepage/css/vendor.css">  
   <link rel="stylesheet" href="/assets/homepage/css/main.css">  

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/assets/homepage/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>

<body id="top" style="background: none;">

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="#">TawassolApp</a>
	      <h1>TawassolApp</h1>
	   </div> 

		<a id="header-menu-trigger" href="#0">
		 	<!-- <span class="header-menu-text">Menu</span> -->
		  	<span class="header-menu-icon"></span>
		</a> 

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>	

	   	<h3>Menu</h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">À propos</a></li>
				<li><a class="smoothscroll" href="#services" title="">Pourquoi TawassolApp ?</a></li>
				<li><a class="smoothscroll" href="#CommuniquerTawassolApp" title="">TawassolApp</a></li>
				<li><a class="smoothscroll" href="#administration" title="">L’administration</a></li>						
				<li><a class="smoothscroll" href="#prof" title="">TawassolProf</a></li>						
				<li><a class="smoothscroll" href="#contact" title="">Contactez-nous</a></li>						
			</ul>	
 	

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->  


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
			  				<!-- <h3 class="animate-intro" style="text-transform: unset;margin-bottom: 35px;"></h3> -->
				  			<h1 class="animate-intro">
							Une communication numérique,<br>
							pour une école innovante
				  			</h1>	
 
				  			<center>

								<a class="venoboxvid" data-vbtype="video" href="https://youtu.be/j9_fRt2-Qvk?rel=0&showinfo=0" target="_blank">
							        <img src="assets/img/video-tawassolapp.jpg">
							    </a>
				  				
				  			</center>

				  			<div class="more animate-intro">
				  				<a class=" button stroke" href="Administration/login">
				  					Connexion
				  				</a>
				  				<a class=" button stroke" href="Administration/register">
				  					Inscription
				  				</a>
				  			</div>							

			  		</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<!-- <ul class="home-social-list">
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-facebook-square"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-twitter"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-instagram"></i></a>
	      </li>
         <li class="animate-intro">
           	<a href="#"><i class="fa fa-behance"></i></a>
         </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-dribbble"></i></a>
	      </li>	      
	   </ul> --> <!-- end home-social-list -->	

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">		
		   	    	
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>			
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg">
   				<img src="/assets/homepage/images/logo-colored.png" style="width: 200px;">
   			</div>

				<div class="intro">
					<h3 class="animate-this" style="font-size: 30px;">À propos</h3>
	   			<p class="lead animate-this"><span>TawassolApp</span> est le fruit de nombreuses concertations avec les parents et les acteurs pédagogiques.
Nous sommes partis à leur écoute et nous avons noté leur volonté d’adhérer à l’ère numérique.
Ces échanges, saisis par notre équipe, ont orienté le développement de TawassolApp.</p>	
				</div>   

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">
   			
   				<h3></h3>
   			   <h1>Pourquoi TawassolApp ?</h1> 
   			
   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row services-content">

   		<div class="services-list block-1-2 block-tab-full group">

	      	<div class="bgrid service-item animate-this">	

	      		<span class="icon"><i class="icon-paint-brush"></i></span>            

	            <div class="service-content">
	            	<h3 class="h05">Pour une école innovante</h3>

		            <p>Grace au cahier de texte numérique, l’apprentissage et le contact avec les parents prennent une nouvelle forme.
	         		</p>	         		
	         	</div> 	         	 

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">	

					<span class="icon"><i class="icon-earth"></i></span>                          

	            <div class="service-content">	
	            	<h3 class="h05">Disponible partout</h3>  

		            <p>La plate forme est accessible sur le navigateur et depuis toute tablette ou Smartphone connectés à internet.
	         		</p>	         		
	            </div>	                          

			   </div> <!-- end bgrid -->

			   <div class="bgrid service-item animate-this">

			   	<span class="icon"><i class="icon-lego-block"></i></span>		            

	            <div class="service-content">
	            	<h3 class="h05">Simple d’utilisation</h3>

		            <p>L’interface de TawassolApp est simple. Son utilisation n’exige aucune compétence particulière.
	        			</p>
	            </div> 	            	               

			   </div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-megaphone"></i></span>	              

	            <div class="service-content">
	            	<h3 class="h05">Evolutive</h3>

		            <p>TawassolApp est en perpétuel développement. Des mises à jour, preuve de notre dynamique, vous seront proposées.
	         		</p>	         		
	            </div>                

				</div> <!-- end bgrid -->			   

	      </div> <!-- end services-list -->
   		
   	</div> <!-- end services-content -->   			

   </section> <!-- end services -->
   <section id="CommuniquerTawassolApp">
   		<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3></h3>
		   		<h1 style="color: rgb(23, 133, 112)">TawassolApp</h1>  			
		   		
		   		<p class="lead">TawassolApp est un outil de communication orienté de l’établissement scolaire vers les parents.
Ce processus d’innovation techno-pédagogique est mené conjointement par l’administration et le corps enseignant.
Des espaces, dont la prise en main est très facile, sont dédiés à chaque intervenant.</p>	   
								
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap --> 
   </section>

   <!-- portfolio
   ================================================== -->
	<section id="portfolio">   	
	   	<div class="intro-wrap" style="padding-bottom: 20px;padding-top: 30px; background: rgb(23, 133, 112);padding: 0 10px;">

	   		<div class="row narrow section-intro with-bottom-sep animate-this" style="margin-bottom: 0;">
		   		<div class="col-twelve">
		   			<p style="text-align: center;">
			   			<img class="logo-app" src="/assets/homepage/images/logo-tawassolApp.png" style="width: 300px;">
			   		</p>
		   			<h3></h3>
			   		<h1 style="color:#fff;">Communication avec les parents</h1>  			
			   			
			   		<p class="lead" style="text-align: left;color:#fff;margin-bottom: 8px;">
			   			Le confort visuel est bien là. <br>Sont affichés :
			   		</p>
		   			<ul style="text-align: left;color:#fff;">
		   				<li>Les devoirs scolaires issus du professeur</li>
		   				<li>
		   					Les notifications qui découlent de l’administration et qui
					concernent, des évènements scolaires, des contrôles, un comportement ...
		   				</li>
		   			</ul>
						
			   		
			   		<p style="text-align: left;color:#fff">
			   			Les messages reçus sont clairs et illustrés grâce aux pièces jointes que véhiculent TawassolApp (image, fichiers texte). Les parents s’impliquent donc davantage dans le suivi de leurs enfants.
			   		</p>  
			   		<center>
			   			<img src="/assets/homepage/images/app-parent-1.png" style="max-width: 350px;margin-bottom: 50px;margin-top: 50px;    width: 100%;">
			   			<img src="/assets/homepage/images/app-parent-2.png" style="max-width: 350px;margin-bottom: 50px;margin-top: 50px;    width: 100%;">
			   		</center>	
			   		<p>
			   			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.app538533">
			   				<img src="/assets/homepage/images/playstore.png" style="width: 150px">
			   			</a> 	
						<img src="/assets/homepage/images/appstore.png" style="width: 150px">
					</p>  		
		   		</div>   		
		   	</div> <!-- end row section-intro -->   		

	   	</div> <!-- end intro-wrap -->    

   </section>  <!-- end portfolio -->

   <section id="administration">
   		<div class="intro-wrap" style="background: #fff">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<p style="text-align: center;">
	   				<img src="/assets/homepage/images/espace.admin.png">
	   			</p>
	   			<h3></h3>
		   		<h1 style="color: rgb(23, 133, 112)">L’administration</h1>  			
		   		
		   		<p class="lead"> 
		   			<p>TawassolApp offre à l’administration la possibilité d’une messagerie régulière et illustrée vers les parents.</p>
		   			<p>Plusieurs notifications peuvent être émises : vacances scolaires, rencontres pédagogiques, sorties de divertissement, fête, contrôles ...</p>
		   			<p>S’il y a besoin, l’administration peut envoyer des messages individuels pour informer sur une difficulté, signaler un comportement, rappeler ...<br>
Un canal de communication avec les professeurs est également présent.</p>
		   		</p>	   
		   		<p style="text-align: center;">
		   			<a class=" button stroke" href="Administration/login">
	  					Connexion
	  				</a>
	  				<a class=" button stroke" href="Administration/register">
	  					Inscription
	  				</a>
		   		</p>			
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap --> 
   </section>

   <section id="prof">
   		<div class="intro-wrap" style="background: #478af6;color: #fff;">

   		<div class="row narrow section-intro with-bottom-sep animate-this" style="">
	   		<div class="col-twelve">
	   			<p style="text-align: center;">
		   			<img class="logo-app" src="/assets/homepage/images/logo-tawassolProf.png" style="width: 300px;">
		   		</p>
	   			<h3></h3>
		   		<h1 style="color: #fff">Tawassol Prof</h1>  			
		   		
		   		<p>  Le corps enseignant a également la possibilité d’émettre, sur le navigateur ou via son application mobile, des messages illustrés vers les parents.
				<p>Le but est de les renseigner sur le travail à faire à domicile.
				Il pourra s’agir de révision, exercices, préparation aux contrôles...</p>
				<p>
					Les parents peuvent donc suivre l’évolution de la scolarité de leurs enfants.
				</p> 
				<p>
					<a class="button stroke" href="/prof">
	  					Découvrir <span class="d_n">l'espace professeur</span>
	  				</a>
				</p> 
				<center>
		   			<img src="/assets/homepage/images/app-prof-1.png" style="max-width: 350px;margin-bottom: 50px;margin-top: 50px;    width: 100%;">
		   			<img src="/assets/homepage/images/app-prof-2.png" style="max-width: 350px;margin-bottom: 50px;margin-top: 50px;    width: 100%;">
		   		</center>	 
				<p>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.prof841977">
						<img src="/assets/homepage/images/playstore.png" style="width: 150px">
					</a> 
					<img src="/assets/homepage/images/appstore.png" style="width: 150px">
				</p>	
				 			
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap --> 
   </section>

   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="animate-this">Ce qu'ils nous disent.</h2>
   		</div>   		
   	</div>   	

      <div class="row flex-container">
    
         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

               <li>
                  <p>
                  Tant que maman j'apprécie beaucoup, avant je ne comprenais pas certains devoirs de ma fillette de 4 ans, maintenant tout est clair avec les messages illustrés. Merci tawassolapp 
                  </p> 

                  <div class="testimonial-author">
                    	<img src="/assets/homepage/images/avatars/user-02.jpg" alt="Author image">
                    	<div class="author-info">
                    		 Sana Benelkhadir 
                    		<span class="position">Une Maman</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->
             	<li>
                  <p>
                  	Enfin! je peux faire le suivi de mon enfant. Avant, mon fils oublie de faire ces devoires. et moi j'étais pas au courant. merci à vous.  
                  </p> 

                  <div class="testimonial-author">
                    	<img src="/assets/homepage/images/avatars/user-03.jpg" alt="Author image">
                    	<div class="author-info">
                    		 	Mohammed Ennassrauoi 
                    		<span class="position">Père</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->

               <!-- <li>
                  <p>
                  Application top génial. Facile et efficace.    
                  </p>

               	<div class="testimonial-author">
                    	<img src="/assets/homepage/images/avatars/user-03.jpg" alt="Author image">
                    	<div class="author-info">
                    		Baribi Amine 
                    		<span>Professeur</span>
                    	</div>
                  </div>                                         
               </li> --> <!-- end slide -->

            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->         
        
      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->


	<!-- stats
   ================================================== -->
  <!--  <section id="clients">

		<div class="row animate-this">
			<div class="col-twelve">

				<div class="client-lists owl-carousel">
  					<div><img src="images/clients/mozilla.png" alt=""></div>
  					<div><img src="images/clients/bower.png" alt=""></div>
  					<div><img src="images/clients/codepen.png" alt=""></div>
  					<div><img src="images/clients/envato.png" alt=""></div>
  					<div><img src="images/clients/firefox.png" alt=""></div>
  					<div><img src="images/clients/grunt.png" alt=""></div>
  					<div><img src="images/clients/evernote.png" alt=""></div>
  					<div><img src="images/clients/github.png" alt=""></div>
  					<div><img src="images/clients/joomla.png" alt=""></div>
  					<div><img src="images/clients/jQuery.png" alt=""></div>
  					<div><img src="images/clients/wordpress.png" alt=""></div>
				</div>
				
			</div>  
		</div>  

   </section>   -->


	<!-- contact
   ================================================== -->
   <section id="contact">

      <div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			<h3></h3>
   			<h1>Contactez-nous</h1>

   			 
   		</div> 
   	</div> <!-- end section-intro -->

   	<div class="row contact-content">

   		<div class="col-seven tab-full animate-this">

   			<h5>Envoyer un message</h5>

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">     			

               <div class="form-field">
 					   <input name="contactName" type="text" id="contactName" placeholder="Nom" value="" minlength="2" required="">
               </div>

               <div class="row">
                 	<div class="col-six tab-full">
                 		<div class="form-field">
                 			<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                 		</div>		      			   
		            </div>
	            	<div class="col-six tab-full">	            
	            		<div class="form-field">
	            			<input name="contactSubject" type="text" id="contactSubject" placeholder="Sujet" value="">
	                  </div>		     				   
		            </div>
               </div>
                                         
               <div class="form-field">
	              	<textarea name="contactMessage" id="contactMessage" placeholder="Message" rows="10" cols="50" required=""></textarea>
	            </div> 

               <div class="form-field">
                  <button class="submitform">Envoyer</button>

                  <div id="submit-loader">
                     <div class="text-loader">Envois...</div>                             
       			      <div class="s-loader">
							  	<div class="bounce1"></div>
							  	<div class="bounce2"></div>
							  	<div class="bounce3"></div>
							</div>
						</div>
               </div>

      		</form> <!-- end form -->

            <!-- contact-warning -->
            <div id="message-warning"></div> 

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Votre message a été envoyé, merci!<br>
      		</div>

         </div> <!-- end col-seven --> 

         <div class="col-four tab-full contact-info end animate-this">

         	<h5>Informations de contact</h5>

         <!-- 	<div class="cinfo">
	   			<h6>Où nous trouver</h6>
	   			<p>
	            	1600 Amphitheatre Parkway<br>
	            	Mountain View, CA<br>
	            	94043 US
	            </p>
	   		</div>   end cinfo -->  

	   		<div class="cinfo">
	   			<h6>Adresse</h6>
	   			<p>
	   				contact@tawassolapp.com<br> 			     
				</p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Téléphone</h6>
	   			<p>
	   				07 62 95 39 50
				   </p>
	   		</div>

         </div> <!-- end cinfo --> 

   	</div> <!-- end row contact-content -->
		
	</section> <!-- end contact -->


	<!-- footer
   ================================================== -->
	<footer>
     	 

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span style="color: #555">© Copyright tawassolApp 2017.</span> 
		         	<!-- <span style="color: #555">Design by Sigma Soft</span>		         	 -->
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

      <div id="go-top">
		   <a class="smoothscroll" title="Back to Top" href="#top">
		   	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		   </a>
		</div>		
   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div>  

    


   <!-- Java Script
   ================================================== --> 
   <link rel="stylesheet" type="text/css" href="/assets/venobox/venobox.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
   <script src="/assets/homepage/js/plugins.js"></script>
   <script src="/assets/homepage/js/main.js"></script>

   <script type="text/javascript" src="/assets/venobox/venobox.min.js"></script>

   <script type="text/javascript">
   	$(document).ready(function () {
   		 	
   		 	$('.venoboxvid').venobox({
   		 		spinner: "spinner-pulse",
   		 		closeBackground: "transparent",
   		 		autoplay: true
   		 	}); 
	    
   	})
   </script>

   <style type="text/css">
   	.vbox-close { 
	    width: 70px;
	    height: 70px; 
	    font-size: 64px; 
	}
	a.venoboxvid{
		border-radius: 0
	}
	a.venoboxvid img{
		max-width: 388px;
	    margin-bottom: -17px;
	    margin-top: 11px;
	    width: 90%;
	}
   </style>

</body>

</html>