<ion-view title="A Propos " id="page9" style="background: url(img/bg/bg1.jpeg) bottom center / cover;">
  <ion-content padding="true" class="has-header">
    <div style="margin-top: 40%;">
       <center>
        <img src="img/logo.png" style="width: 150px">
      </center>
      <div id="aPropos-markdown7" style="text-align:center;">
        <p style="color:#000000; font-size: 12px" >Version {{ appVersion }}</p>

        <p style="color:#000000; text-align: center;font-size: 16px;margin-top: 40px;">Une communication numérique<br>Pour une école innovante</p>
      </div>
    </div>
     
  </ion-content>
</ion-view>