<ion-view title="Photo de profil"  cache-view="false"  id="pageProfilstudents" style=""> 
  <div ng-if="!NetworkTrue" class="bar bar-footer bar-assertive" >
    <div class="title" style="font-size: 11px;"><ion-spinner icon="ios-small" class="spinner-light"></ion-spinner>Pas de connexion internet</div>
  </div>
  <ion-content padding="false" class="has-header">

    <center style="padding-top: 40px; margin-bottom: 40px;">
      <h3>{{ student.nom }}</h3>
    </center>
    <center> 
       <div ng-if=" student.photo != '' " class="profilPhoto" style="background: url('{{ student.photo }}') no-repeat center center / 100% auto;">
         <button ng-if="student.statePhoto == 0" class="button button-clean removephoto" ng-if="!progress" ng-click="removePhoto()">
            <i class="icon ion-trash-a"></i>
          </button>
          <ion-spinner ng-if="progress" icon="android"></ion-spinner>
       </div>
       <div ng-if=" student.photo == '' " class="profilPhoto">
          <i class="icon ion-camera"></i>
          <button class="button button-clean addphoto" ng-click="ChooserFile()">
            <i class="icon ion-camera"></i>
          </button>
       </div>
    </center>
  </ion-content>
</ion-view>

