<ion-view title="Signaler un problème" id="pageBug" style="">
  <div ng-if="!NetworkTrue" class="bar bar-footer bar-assertive" >
    <div class="title" style="font-size: 11px;"><ion-spinner icon="ios-small" class="spinner-light"></ion-spinner>Pas de connexion internet</div>
  </div>
  <ion-content padding="true" class="has-header">
    
    <div id="bug" style="text-align:center;">
     <form ng-controller="bugCtrl"> 
     	<h4 style="text-align: left;"><i class="ion-bug"></i> Que s'est-il passé ?</h4>
		<label class="item item-input">
		    <textarea ng-model="contentBug" rows="12" placeholder="Merci de décrire vote problème pour améliorer TawassolApp et mieux répondre à vos besoins."></textarea>
		</label>
		<button type="button" ng-click="sendRapport()" class="button button-block button-assertive">
		  Envoyer
		</button>
     </form>
    </div>
  </ion-content>
</ion-view>