<ion-view title="Récupération du mot de passe" id="pageAbout" style="">
<ion-nav-buttons side="left">
   <button class="button button-clear" ui-sref="login"><i class="icon ion-arrow-left-c" ></i></button>
 </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
  	<center style="margin-top: 19%;">
  		<i class="icon ion-ios-locked-outline" style="font-size: 70px;"></i>
  	</center>
    <h2 id="aPropos-heading1" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">Mot de passe oublié</h2>
    <div id="aPropos-markdown7" style="text-align:center;">
     <p style="color:#000000;">Si vous avez oublié le mot de passe, merci de contacter l'administration de votre établissement. Un nouveau mot de passe vous sera généré. Vous pouvez le changer après la connexion à votre espace prof.
	</p>
	<!-- <button ui-sref="login" class="button button-positive button-block" style="margin-top: 30px;"><i class="icon ion-ios-arrow-back"></i> Retour</button>  -->
    </div>
  </ion-content>
</ion-view>