<ion-view title="Message" id="pageMessageToParent" style="background: url(img/bg-message.jpeg) center center / cover;">
	<div ng-if="!NetworkTrue" class="bar bar-footer bar-assertive" >
	    <div class="title" style="font-size: 11px;"><ion-spinner icon="ios-small" class="spinner-light"></ion-spinner>Pas de connexion internet</div>
	</div>
  <ion-content padding="false" class="has-header">

  	<div class="card messageNotValidate" ng-if="message.state=='0' && message.remarque == ''">
		  <div class="item item-text-wrap" >
		    <i class="ion-load-d"></i> Message en attente de validation
		  </div>
	</div>

	<div class="card messageNotValidate HasMark" ng-if="message.state=='0' && message.remarque != ''" style="margin-top: 20px;">
		  <div class="item item-text-wrap" >
		    <strong>Remarque:</strong>
		    <div data-ng-bind-html="trustAsHtml( message.remarque )"></div>
		  </div>
	</div>
	<!-- 
	<div class="card messageValidate" ng-if="message.state=='1'">
		  <div class="item item-text-wrap" >
		    <i class="ion-checkmark-circled"></i> Message validé
		  </div>
	</div> --> 
	<div class="card">
		  <div class="item item-text-wrap" style="padding:5px"> 
		    <span class="item-destination" ng-class="{'textArabe': directionality( message.content )=='rtl' }" style="font-size: 15px;">{{ message.matiere.split(' ').join('&nbsp;') }}</span>
		  </div>
	</div>
 	<div class="card">
		  <div class="item item-text-wrap" style="padding:5px"> 
		     <ion-scroll class="item-destination-continer" direction="x" scrollbar-x="false">
		     <span class="item-destination" ng-repeat="item in message.destination" style="font-size: 15px;">{{ item.split(' ').join('&nbsp;') }}</span>
		     </ion-scroll>
		  </div>
	</div>
    <div class="card"> 
	  <div class="item item-text-wrap" style="font-size: 13px;padding-top: 25px;">
	  	<span class="date-message"  ng-class="{'messageArabe': directionality( message.content )=='rtl' }"><i class="icon ion-calendar"></i> {{ message.time*1000 | date:'dd/MM/yyyy' }}</span>
	    <div class="contentMessage contentMessage_" ng-class="{'textArabe': directionality( message.content )=='rtl' }" data-ng-bind-html="trustAsHtml( message.content )" dir="{{ directionality( message.content ) }}" style="font-size: 15px;"></div>
 
	  </div>
	</div>

	<div ng-if="message.date != '' " class="card" style="font-size: 15px;color: #000!important;padding: 5px 10px;">
       Pour le: <a href="#" class="noClick" style="color: #000!important;text-decoration: none!important;">{{ message.date }}</a>
    </div>
 

	<div class="padding block-btns">

		<div class="imagePjMessage" ng-if="message.file && message.typeFile !='notImage'">
	      <img ng-click="showImage(message.file)" ng-src="{{ExternalPath}}thumbs/{{ message.file }}" > 
	    </div>
	    <div ng-if="message.file && message.typeFile =='notImage' " style="position: relative;">
	        <img ng-click="openLocalUrl( message.file )" ng-src="img/doc.png" style="width: 80px;"> 

			<img src="img/loader-android.gif" ng-if="loadFile" style="
                position: absolute;
                left: 13px;
                width: 52px;
                top: 32px;
                border-radius: 50%;
            ">
	    </div>
		<!-- //////////// Image ///////////// -->
	   <!--  <div class="imagePjMessage" ng-if="message.file && downloaded && message.typeFile !='notImage'">
	      <img ng-click="showImage(message.file)" ng-src="{{ExternalPath}}{{ message.file }}" > 
	    </div>

	    <div class="imagePjMessage" ng-if="message.file && !downloaded && NetworkTrue && message.typeFile !='notImage'">  
	      <img ng-src="http://tawassolapp.com/assets/upload/thumbs/{{ message.file }}" class="notDownloaded"> 
	      <i ng-if="!downloading" ng-click="downloadImage( message.file )"  class="ion-arrow-down-a"></i>
	      <ion-spinner ng-if="downloading" icon="android" class="spinner-light"></ion-spinner>  
	    </div>-->
	 
	    <!-- //////////// End Image ///////////// -->


	    <!-- //////////// Document ///////////// -->
	    <!-- <div ng-if="message.file && NetworkTrue && !downloaded && message.typeFile =='notImage' " class="imagePjMessage" style="border: 0;">
	        <img ng-src="img/doc.png" style="width: 80px;"> 
	        <i ng-if="!downloading" ng-click="openUrl( message.file )"  class="ion-arrow-down-a"></i>
	        <ion-spinner ng-if="downloading" icon="android" class="spinner-light"></ion-spinner>
	    </div> 
	    <div ng-if="message.file && downloaded && message.typeFile =='notImage' ">
	        <img ng-click="openLocalUrl( message.file )" ng-src="img/doc.png" style="width: 80px;"> 
	    </div> 
	     
	    <div class="content-message" ng-if="message.file && !downloaded && !NetworkTrue" style="margin: 0px;color: white;font-size: 11px;background: #ff4b4b;text-align: center;">  
	        Connectez-vous à internet pour consulter la pièce jointe.
	    </div> -->


 		<button ui-sref="tabs.nouveauMessage({hash:MessageKey, transfer: 0})" ng-if="message.state=='0'" class="button button-small button-block button-energized">
		   Modifier
		</button>
		<button ui-sref="tabs.nouveauMessage({hash:MessageKey, transfer: 1})" class="button button-small button-block button-positive">
		   Transférer
		</button>
		<button ng-click="removeMessage()" ng-if="message.state=='0'" class="button button-small button-block button-assertive">
		   Supprimer
		</button>
	</div>
  </ion-content> 
</ion-view>
<script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent">
        <ion-pane class="transparent">
       <!--  <img src="img/rotate.png" ng-click="rotateImage()" style="z-index: 99999;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -o-filter: grayscale(1);
        position: absolute;top: 1px;right: 2px;width: 41px;"> -->
         <button class="button-clear" ng-click="closeModal()" style="
        color: #fff;font-family: arial;left: 10px;top: 10px;position: absolute;z-index: 99999;"><i class="icon ion-close-round" style="font-size: 35px !important;"></i></button>
          <!-- <button ng-show="ShowBtnDowload" ng-click="downloadImageToGallery()" class="button button-clear"><i class="ion-ios-cloud-download-outline"> Télécharger</i></button> -->
         
          <ion-scroll zooming="true"
        direction="xy" 
        delegate-handle="zoom-pane" 
        class="zoom-pane" 
        min-zoom="1" 
        scrollbar-x="false" 
        scrollbar-y="true" 
        overflow-scroll="false">

              <img ng-src="{{imageSrc}}" class="fullscreen-image" style="
              transform: rotate({{rotateValue}}deg); 
              -webkit-transform: rotate({{rotateValue}}deg); 
              -moz-transform: rotate({{rotateValue}}deg); 
              -o-transform: rotate({{rotateValue}}deg); 
              -ms-transform: rotate({{rotateValue}}deg); 
              transition: 1s"  />
            </ion-scroll>
        </ion-pane>
    </div>
</script>