<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive" style="height:54px;background-color: #0c60ee;">
	  <h1 class="title" style="">Conditions d'utilisation</h1> 
	  <button class="button button-clear button-primary" ng-click="closeModalCGU()">Fermer</button>
	</ion-header-bar>
	<ion-content class="page-cgu padding" style="padding-top: 20px"> 
	     

	<p>Ces conditions s’appliquent à l’utilisation de TawassolApp quelle que soit la formule d’acquisition, même pour un essai gratuit.</p>
	<p>Ces conditions définissent les droits et/ou restrictions que vous acceptez lors de votre inscription.</p>

	<h4>Limitations</h4>
	<p>Vous n'êtes pas autorisé à :</p>
	<ul>
		<li>
			Octroyer les droits (vente ou offre) de l’utilisation de la totalité ou une partie de TawassolApp à des tiers.
		</li>
		<li>
			Faire usage de TawassolApp en dehors de sa fonction unique qu’est la communication entre l’établissement scolaire et les élèves et/ou parents d’élèves.
		</li>
	</ul>  

	<h4>Conformité aux spécifications</h4>
	<ul>
		<li>TawassolApp, en raison de sa technicité, est tenu à une obligation de moyens.</li>
		<li>Nous nous efforcerons de corriger toute erreur qui aura été communiquée et qui serait révélatrice d'un défaut de conformité.</li>
		<li>Le prestataire n’est pas responsable des défauts imputables à l’équipement de l’utilisateur.</li>
		<li>L’utilisateur accepte de supporter, dans des limites raisonnables, les risques d’imperfection ou d'indisponibilité du service d’hébergement.</li>
		<li>Le Prestataire se réserve le droit d'interrompre le service pour une opération de maintenance. Ces interruptions de Service ne pourront donner lieu à une quelconque indemnisation de l’utilisateur.</li>
	</ul>
	 
	<h4>Confidentialité</h4> 
	<p>L’utilisateur est seul responsable de ses identifiants. </p>
	<p>En aucun cas, le prestataire ne serait tenue responsable de quelque dommage suite à leurs pertes ou vol.</p>
	

	     
	</ion-content>
</ion-modal-view>