<ion-modal-view> 
	<ion-content style="bottom:33px"> 
		<h4 style="padding: 0 15px;text-align: center;padding: 23px 10px;">Vérifiez vos informations avant de soumettre le formulaire </h4>
	    <ul class="list">
		    <li class="item">
		       <strong style="display: block;">Nom et prénom</strong> 
	   			{{ fname }} {{ lname }}
		    </li>
		    <li class="item">
		       <strong style="display: block;">Niveau</strong> 
	   			{{ DATA.niveau[ niveau ] }}
		    </li> 
		    <li class="item">
		       <strong style="display: block;">Matières</strong> 
	   			<div ng-repeat="matiere in DATA.matieres">
	   				<span ng-repeat="idMatiere in selectedMatiere" ng-if="idMatiere == matiere.id">
	   					- {{ matiere.intitule }}
	   				</span>
	   			</div>
		    </li> 

		    <li class="item">
		       <strong style="display: block;">Classe(s) enseignée(s)</strong> 
	   			<div ng-repeat="row in rowsClasses">
	   				 - {{ DATA.classes.intituleClasse[ ( row.classe )-1 ] }} G{{ DATA.classes.intituleGroupe[ ( row.groupe )-1 ] }}
	   			</div>
		    </li>
		    
		    <li class="item">
		       <strong style="display: block;">Téléphone</strong> 
	   			{{ tel }}
		    </li>
		</ul>

	</ion-content>
	<div class="bar bar-footer">
	  <button ng-click="closeModal()" class="button button-energized" style="width: 48%;">Modifier</button>
	  <button ng-click="addProf()" class="button button-positive" style="width: 48%;">Soumettre</button>
	</div>
</ion-modal-view>