<ion-view title="Inscription" id="pageInscription">
 <ion-nav-buttons side="left">
   <button class="button button-clear" ui-sref="login"><i class="icon ion-arrow-left-c" ></i></button>
 </ion-nav-buttons>


  <ion-content padding="true"  ng-controller="loginCtrl">
     <form ng-controller="registerCtrl">
      <div class="list">
        <label class="item item-input item-stacked-label" id="ajouterUnEnfant-input3">
          <span class="input-label">Code d'établissement</span>
          <input ng-model="code" ng-keydown="changeCode()" placeholder="Saisir le code de votre établissement" type="text" >
        </label>
      </div>
      <button ng-click="verifCode()" ng-hide="codeValide" class="button button-energized  button-block">Valider</button>

      <div id="ajouterUnEnfant-form4" class="list" ng-show="codeValide">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Votre prénom</span>
            <input ng-model="fname"  placeholder="..." type="text" >
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Votre nom</span>
            <input ng-model="lname"  placeholder="..." type="text" >
          </label> 
          <label class="item item-select">
            <span class="input-label">Niveau</span>
            <select ng-model="niveau" ng-change="OnchangeNiveau()">  
              <option value="">Choisir le niveau</option> 
              <option ng-repeat="(key, value) in DATA.niveau" value="{{key}}">{{value}}</option> 
            </select>
          </label> 
        </div> 

        <button ng-click="openModal2()" class="button button-energized button-block">Classes/Groupes</button>
        <button ng-click="openModal1()" class="button button-energized button-block">Matières</button>
       
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Téléphone</span>
            <input ng-model="tel" type="tel" >
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Mot de passe</span>
            <input ng-model="pwd" type="password" >
          </label>  

          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirmer mot de passe</span>
            <input ng-model="confirmPwd" type="password" >
          </label>  

          <div class="" style="font-size: 15px;margin-bottom: 3px;margin-top: 20px;"> 
            Lire les <a ng-click="openModalCGU()" style="text-decoration: underline;">conditions d'utilisation</a> et la <a ng-click="openModalPoli()" style="text-decoration: underline;">politique de confidentialité</a>
          </div>
          <ion-list class="cgu">

            <ion-checkbox ng-model="cgu" ng-checked="cgu">J'ai lu et j'accepte les conditions d'utilisation et la politique de confidentialité</ion-checkbox> 

          </ion-list> 

        </div>  
        <button ng-click="validate()" class="button button-balanced  button-block">S'INSCRIRE</button>
      </div>
    </form> 
  </ion-content>
  <script id="matieres-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Matières</h1>
          <button class="button button-clear button-primary" ng-click="closeModal1()">OK</button>
        </ion-header-bar>
      <ion-content>
          <ion-list> 
            <ion-checkbox ng-repeat="matiere in DATA.matieres" ng-change="checkedOrNot(matiere.id, matieres, $index)" ng-model="matieres">{{ matiere.intitule }}</ion-checkbox> 
          </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>
  <script id="classes-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Classes/Groupes</h1>
          <button class="button button-clear button-primary" ng-click="closeModal2()">OK</button>
        </ion-header-bar>
      <ion-content>
            <div class="list">
              <label class="item item-input" style="width: 40%;float: left;border: 0"> 
                <strong>Classe</strong>
              </label>
              <label class="item item-input" style="width: 60%;float: left;border: 0"> 
                <strong>Groupe</strong>
              </label>

              <div class="repeatClass" ng-repeat="(kewRow, row) in rowsClasses">
                <label class="item item-input item-select" style="width: 40%;float: left;"> 
                  <div>&nbsp;</div>
                  <select  ng-model="row.classe" style="max-width: 100%;width: 100%;text-align: left;">
                    <option ng-if="DATA.classes.nbrClassesByNiveau[keyClass] > 0" ng-repeat="(keyClass, classe) in DATA.classes.intituleClasse" value="{{ keyClass+1 }}" >{{ classe }}</option> 
                  </select>
                </label> 
                <label class="item item-input item-select" style="width: 40%;float: left;"> 
                <div>&nbsp;</div>
                  <select ng-model="row.groupe" style="max-width: 100%;width: 100%;text-align: left;">
                    <option ng-repeat="(keyGroupe, classe) in nbrRow( DATA.classes.nbrClassesByNiveau[row.classe-1] )" value="{{ keyGroupe+1 }}" >
                        {{ DATA.classes.intituleGroupe[keyGroupe] }}
                    </option> 
                  </select>
                </label>
                <label class="" style="width: 20%;float: left;" ng-if="kewRow+1 == rowsClasses.length"> 
                  <button class="addClassBtn" ng-click="removeRow({{kewRow}})"><i class="icon ion-close-circled"></i></button>
                </label> 
              </div>  
              <button ng-click="addRow()" class="button button-balanced" style="margin-left: 13px;font-size: 23px;">+</button> 
            </div> 
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>