<ion-view title="Réglages" id="pageReglage" style="">
  <ion-content padding="false" class="has-header">
    <ion-list id="rGlage-list6"> 
      <ion-item class="item-icon-left" ui-sref="tabs.personnel-info">
        <i class="icon ion-person"></i>Informations personnelles
      </ion-item>
      <ion-item class="item-icon-left" ui-sref="tabs.pwd">
        <i class="icon ion-locked"></i>Mot de passe
      </ion-item> 
      <ion-item class="item-icon-left" ui-sref="tabs.emplois">
        <i class="icon ion-ios-calendar"></i>Emploi du temps
      </ion-item> 
      <ion-item class="item-icon-left" ui-sref="tabs.bug">
        <i class="icon ion-bug"></i>Signaler un problème
      </ion-item>
      <ion-item class="item-icon-left" ui-sref="tabs.about">
        <i class="icon ion-information-circled"></i>A propos
      </ion-item> 
      <ion-item class="item-icon-left" ng-click="logOut()"> 
        <i class="icon ion-log-out"></i>Déconnexion
      </ion-item>
   
    </ion-list>
  </ion-content>
</ion-view>