<ion-view title="لائحة العطل المدرسية" id="massar" style="">
  <ion-content scroll="false" padding="false" class="has-header">
    


     <ion-pane class="transparent">  
          <ion-scroll zooming="true"
		        direction="xy" 
		        delegate-handle="zoom-pane" 
		        class="zoom-pane" 
		        min-zoom="1" 
		        scrollbar-x="false" 
		        scrollbar-y="true" 
		        overflow-scroll="false"
		        style="background: #fff;" >

               <img src="img/otals.jpg" style="width: 100%;">

            </ion-scroll>
        </ion-pane>

  </ion-content>   
</ion-view>