<ion-view title="Tabs" id="page1"> 
  <ion-tabs class="tabs-positive tabs-icon-only" id="tabs-tabs1" ng-controller="NotifCtrl"> 

    <ion-tab ng-hide="vm.newMessage" title="Message" icon="ion-home" href="#/tab/home" badge="notif" badge-style="badge-light"> 
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab> 
    <ion-tab title="Setting" icon="ion-navicon" href="#/tab/setting" id="tab-setting">
      <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>